/* author = taksenov@gmail.com */
/* MainSettings */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* Fonts */
/* Opensans Family */
@font-face {
  font-family: 'open_sans_condensedbold';
  src: url("../../static/fonts/opensans-condensedbold.eot");
  src: url("../../static/fonts/opensans-condensedbold.eot?#iefix") format('embedded-opentype'), url("../../static/fonts/opensans-condensedbold.woff") format('woff'), url("../../static/fonts/opensans-condensedbold.ttf") format('truetype'), url("../../static/fonts/opensans-condensedbold.svg#opensans_condensedbold") format('svg');
}
@font-face {
  font-family: 'open_sans_semibold';
  src: url("../../static/fonts/opensans-semibold.eot");
  src: url("../../static/fonts/opensans-semibold.eot?#iefix") format('embedded-opentype'), url("../../static/fonts/opensans-semibold.woff") format('woff'), url("../../static/fonts/opensans-semibold.ttf") format('truetype'), url("../../static/fonts/opensans-semibold.svg#opensans_ыуьшищдв") format('svg');
}
@font-face {
  font-family: 'open_sans_condensedlight';
  src: url("../../static/fonts/opensans-condensedlight.eot");
  src: url("../../static/fonts/opensans-condensedlight.eot?#iefix") format('embedded-opentype'), url("../../static/fonts/opensans-condensedlight.woff") format('woff'), url("../../static/fonts/opensans-condensedlight.ttf") format('truetype'), url("../../static/fonts/opensans-condensedlight.svg#opensans_condensedlight") format('svg');
}
@font-face {
  font-family: 'open_sans_regular';
  src: url("../../static/fonts/opensans-regular.eot");
  src: url("../../static/fonts/opensans-regular.eot?#iefix") format('embedded-opentype'), url("../../static/fonts/opensans-regular.woff") format('woff'), url("../../static/fonts/opensans-regular.ttf") format('truetype'), url("../../static/fonts/opensans-regular.svg#opensans-regular") format('svg');
}
.opensans-condbold {
  font-family: "open_sans_condensedbold";
}
.opensans-semibold {
  font-family: "open_sans_semibold";
}
.opensans-condlight {
  font-family: 'open_sans_condensedlight';
}
.opensans-regular {
  font-family: 'open_sans_regular';
}
/* ------------------------------------------- */
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
body {
  background: url("../../static/img/common/bg.png") #e5e5e5;
}
/* запрет изменения размера textarea */
textarea {
  resize: none;
}
/* ------------------------------------------- */
/* SiteContent */
/* NavBar */
.transNavbar {
  opacity: 0.07;
  filter: alpha(opacity=7);
  -moz-opacity: 0.07;
  background-color: #00171c;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.navbar {
  border-bottom: 3px solid #9dc2c9;
  height: 198px;
  background: transparent;
  margin-bottom: 26px;
}
.header__left {
  float: left;
  width: 20%;
  height: 194px;
}
.header__left-center {
  float: left;
  width: 20%;
  height: 194px;
}
.header__center {
  float: left;
  width: 20%;
  height: 194px;
}
.header__right-center {
  float: left;
  width: 20%;
  height: 194px;
}
.header__right {
  float: left;
  width: 20%;
  height: 194px;
}
.caption__email {
  background: #ffffff;
  border-radius: 10px;
  height: 55px;
  width: 190px;
  border: 2px dashed #8c8c8c;
  margin-top: 34px;
  font-family: 'open_sans_condensedlight';
  color: #00778c;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-top: 10px;
  margin-left: 11px;
  position: relative;
  overflow: hidden;
}
.caption__email a {
  color: #00778c;
}
.caption__email i {
  font-size: 13px;
}
.img-center {
  display: block;
  margin: 10px auto;
}
.caption__cart {
  background: #ffffff;
  border-radius: 10px;
  height: 96px;
  width: 217px;
  border: 2px dashed #8c8c8c;
  margin-top: 34px;
  font-family: 'open_sans_condensedlight';
  color: #00778c;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-left: 11px;
  padding: 0;
  position: relative;
  overflow: hidden;
  padding-top: 18px;
}
.caption__cart i {
  font-size: 13px;
}
/* настройки для фиксированной корзины */
.cart_fixed {
  position: fixed;
  z-index: 10;
  top: 4px;
  right: 5px;
}
/* настройки для фиксированной корзины */
.navbar__orderbutton {
  cursor: pointer;
  vertical-align: bottom;
  background: #006b7e;
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  font-family: "open_sans_condensedbold";
  color: #ffffff;
  font-size: 16px;
  padding-top: 6px;
}
.navbar__cart_margin {
  margin-right: 5px !important;
}
/* ------------------------------------------- */
/* -------= модальное окно корзины и сообщения о пустой корзине =------- */
.msg {
  margin: 20px 10px;
}
.alert {
  display: none;
}
/*модальное окно*/
.btn__order {
  background-color: #899395;
  border: 1px solid #899395;
}
.btn__order :hover {
  background-color: #899395 !important;
}
.modal-body {
  padding: 0 20px 10px;
  background: url('../../static/img/common/cart_bg_dark.png') repeat;
}
.modal-body h4 {
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 0;
  font-family: "open_sans_condensedbold";
  color: #00778c;
}
.modal-body .input-group {
  max-width: 160px;
  padding-left: 15px;
}
.modal-body input {
  max-width: 200px;
}
.modal-body .control-label {
  font-family: "open_sans_condensedbold";
  text-transform: uppercase;
  font-size: 14px;
}
.modal-header {
  font-family: "open_sans_condensedbold";
  color: #00778c;
  border-bottom: none;
  padding-bottom: 0;
}
.modal-footer {
  border-top: none;
  padding-top: 15px;
}
.modal-content {
  background: url('../../static/img/common/cart_bg_light.png') repeat;
}
.modal-footer .btn {
  font-family: "open_sans_condensedbold";
  color: #00778c;
  font-size: 18px;
}
.modal-body .wrapp {
  font-family: "open_sans_condensedbold";
  color: #00778c;
  background: rgba(255, 255, 255, 0.8);
  border-radius: .25em;
  margin: 10px auto 20px;
  border: 1px dashed #00778c;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
  padding: 15px 0 0;
}
.modal-body .text-in {
  font-family: "open_sans_condensedbold";
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  float: left;
  padding-top: 6px;
}
.modal-body .text-in .x {
  color: #DB7264;
  font-family: arial;
  font-weight: bold;
  padding: 0 6px;
}
.modal-body .ui-spinner {
  float: left;
}
.modal-body .done-box {
  font-size: 120%;
  padding: 20px 0 10px;
}
.spin-btn {
  background: url('../../static/img/common/spinner.gif') center center no-repeat;
  background-size: 30%;
}
/* ------------------ */
/* jumbotron */
.transJumbotron {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  background-color: #00171c;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -48px;
  margin-left: -60px;
  z-index: -1;
}
.jumbotron {
  position: relative;
  overflow: hidden;
  background-color: transparent !important;
}
.jumbotron h3 {
  font-family: "open_sans_condensedbold";
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
}
.jumbotron p {
  font-family: "open_sans_semibold";
  padding-top: 34px;
  font-size: 14px;
  color: #ffffff;
}
/* ------------------------------------------- */
/* Stok */
.stokJumbotron {
  margin-top: 19px;
  margin-bottom: 35px;
  background-color: transparent;
  width: 192px;
  height: 50px;
  position: absolute !important;
  left: 50%;
  margin-left: -96px;
  border-radius: 10px;
  border: 2px dashed #8c8c8c;
  font-family: "open_sans_condensedbold";
  color: #00778c;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}
.stokJumbotron h3 {
  padding-top: 10px;
}
.stokContainer {
  height: 104px;
  /*
                                берутся значения из stokJumbotron
                                margin-top: 19px;
                                margin-bottom: 35px;
                            */
}
.stokJumbotron h3 {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
  margin-top: 0;
  margin-bottom: 0;
}
.stokJumbotron h3:before,
.stokJumbotron h3:after {
  content: "";
  display: table;
}
.stokJumbotron h3:after {
  clear: both;
}
.row {
  margin-bottom: 49px;
}
.thumbnail {
  background-color: transparent;
  border: 1px solid #ddd;
}
.thumbnail h3 {
  background-color: #899395;
  height: 32px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  text-align: center;
  font-family: "open_sans_condensedbold";
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.thumbnail p {
  text-align: center;
  font-family: "open_sans_condensedbold";
  color: #505050;
  font-size: 16px;
  margin-bottom: 5px;
}
.thumbnail p .icon-rouble {
  font-size: 12px;
}
.thumbnail p :hover {
  color: #175762;
}
.thumbnail:hover {
  box-shadow: 0 0 20px 10px #8eadb4;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}
/*спиннер больше-меньше*/
.ui-spinner {
  border: none;
  background: transparent;
}
.ui-spinner-input {
  border: 1px solid #006b7e !important;
  color: #006b7e;
  background-color: #fff;
  padding: 0 2px 0 12px;
  border-radius: 6px;
  width: 34px;
  margin: 0.2em;
  float: left;
}
.ui-spinner-up {
  background: #006b7e url("../../static/img/common/plus.png") !important;
  border: none !important;
}
.ui-icon,
.ui-icon-triangle-1-n,
.ui-button-text {
  display: none;
}
.ui-spinner-down {
  background: #006b7e url("../../static/img/common/minus.png") !important;
  border: none !important;
}
.ui-spinner-up:hover,
.ui-spinner-down:hover {
  cursor: pointer;
}
.ui-spinner-button {
  width: 28px !important;
  height: 28px !important;
  position: relative !important;
  float: left;
  margin: 4px;
}
.ui-spinner-button:active {
  margin-top: 0.5em;
}
/*спиннер больше-меньше*/
/* ------------------------------------------- */
/* Accordion (Information about our stok items) */
.transAccordion {
  border-top: 1px solid #e0e0e0;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.accordion__position {
  padding-top: 44px;
  padding-bottom: 44px;
}
.accordionContainer {
  position: relative;
}
.panel-heading {
  background-color: #8a9395 !important;
  font-family: "open_sans_condensedbold";
  color: #ffffff !important;
  text-transform: uppercase;
}
/* ------------------------------------------- */
/* Footer */
.transFooter {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.footer__left {
  height: 135px;
  width: 33%;
  float: left;
  font-family: 'open_sans_regular';
  color: #909090;
  font-size: 13px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
}
.footer__left a {
  color: #00778c;
}
.footer__left p {
  margin: 15px;
}
.footer__center {
  width: 33%;
  float: left;
}
.footer__right {
  height: 135px;
  width: 33%;
  float: left;
  font-family: "open_sans_condensedbold";
  color: #00778c;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.footer__right a {
  color: #00778c;
}
.footer__right i {
  font-size: 13px;
}
.footer__right p {
  margin-top: 15px;
  text-align: center;
}
.footer__right .normaltext {
  font-family: 'open_sans_regular';
  color: #909090;
  font-size: 13px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
}
/* ------------------------------------------- */
/* MediaQueries */
/* разрешение меньше 1010px но больше 993px*/
@media screen and (max-width: 1200px) and (min-width: 993px) {
  .header__left-center,
  .header__right-center {
    display: none;
  }
  .header__left,
  .header__center,
  .header__right {
    width: 33%;
  }
}
/* разрешение меньше 992px*/
@media screen and (max-width: 992px) {
  .header__left-center,
  .header__right-center {
    display: none;
  }
  .header__left {
    display: none;
  }
  .header__center,
  .header__right {
    width: 50%;
  }
  .footer__left,
  .footer__center {
    display: none;
  }
  .footer__right {
    width: 80%;
    float: left;
  }
  .jumbotron {
    display: none;
  }
  .jumbo {
    display: none;
  }
  .alert {
    font-size: 16px;
    padding: 5px 8px;
  }
}
@media screen and (max-width: 599px) {
  .header__center {
    display: none;
  }
  .navbar {
    height: 114px;
  }
  .caption__cart_full {
    margin-top: 4px;
  }
  .alert {
    font-size: 14px;
    padding: 5px 8px;
    margin-bottom: 10px;
    margin-top: 50px;
  }
}
/* ------------------------------------------- */
